body {
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 20px;
    background-color: #f2f2f2;
    overflow: hidden; /* important */
    max-height: 100vh; /* important */
}

#header {
    font-size: 50px;
    margin-bottom: 20px;
    max-height: 25vh;
}

#description {
    font-size: 24px;
    margin-top: 20px;
    font-weight: bold;
    text-align: left;
    white-space: pre-line; /* important */
    min-width: 50vw;
}

/*
#container {
    max-height: 75vh;
}
*/

.container {
    display: flex;
    flex-direction: row;
}
.container img {
    object-fit: contain;
    max-height: 75vh;
    margin-left: 50px;
}
